.container {
    display: grid;
    grid-template: 100px 1fr 100px / 400px 1fr;
    grid-template-areas: "header header"
                         "left contenido"   
                         "footer footer";
    grid-gap: 20px;
    height: 100vh;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.contenido {
    grid-area: contenido;
}

.footer {
    grid-area: footer;
}

.item {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}