* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1 {font-size: 3.5em;}

h2 {font-size: 2.7em;}

h3 {font-size: 2em;}

p {font-size: 1.25em;}

ul {list-style: none;}

li {font-size: 1.25em;}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

.positivo{
    fill: rgb(16, 185, 16);
}

.negativo{
    fill: rgb(231, 11, 11);;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: blueviolet;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {color:blueviolet;}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:blueviolet;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color:blueviolet;
}



div[data-anchor=row-6529278a9e010] {
    background-image: url(https://assets.bbhub.io/professional/sites/10/Group-4061.png);
}

  @media screen and ( min-width: 760px ) and ( max-width: 1020px ) {
    div[data-anchor=row-6529278a9e010] {
        
    }
  }
  @media screen and ( max-width: 759px ) {
    div[data-anchor=row-6529278a9e010] {
        
    }
  }

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/professional\ investors.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
}

#somos-monedita .container {
    text-align: center;
    padding: 200px 12px;
}

#nuestros-cursos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    padding: 5%;
}

#nuestros-cursos .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nuestros-cursos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-cursos p {
    display: none;
    margin-top: 70px;
}

#nuestros-cursos button {
    margin-top: 20px;
}

#nuestros-cursos .carta {
    background-position: center center;
    background-size: cover;
    float: right;
    height: 570px;
    width: 50vw;
    padding: 50px 0px;
    margin: 0px;
    border-radius: 15px;
    max-width: 350px;
}



#caracteristicas .container {
    text-align: center;
    padding: 150px 12px;
}

.subrayado {
    text-decoration: underline blueviolet; /* Subraya el texto */
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

#caracteristicas ul {
    padding-top: 50px;
    padding-left: 500px;
}

#caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
    /* padding-left: 20px; */
}


#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2 {
    font-size: 9vw;
}

#final button {
    font-size: 5vw;
}

footer {
    text-align: center;
    margin-bottom: 0;
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

.texto-legal {
    font-size: 12px; /* Tamaño de fuente pequeño para el texto legal */
    align-content: center;
    margin-top: 20px;
}

footer .container {
    height: 150px;
    /* display: flex; */
    justify-content: center;
    /* align-items: flex-end; */
}

/* CSS para el box de la app */

.container table{
    margin: 15px auto;
    width: 50vw;
    min-width: 20px;
    max-height: 570px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    padding: 1% 1% 0 ;
    box-shadow: 2px 2px 15px black;
}

.container th{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    font-size: 1.4rem;
    font-weight: 100;
}

.container td{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    height: 30px;
}

.container tr:hover :not(th){
    transform: scale(102%);
    background-color: rgba(192, 189, 189, 0.493);
}

.descripcion{
    font-size: 0.9rem;
    font-weight: bold;
}

#lineaDeIconos1{
    flex-direction: column;
}

.iconos{
    display: flex;
    justify-content: space-between;
}

.iconoDeApp{
    height: 2vw;
    justify-content: space-between;
    cursor: pointer;
}

#lineaDeIconos2{
    height: 10vw;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#iconosIzquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
}

#grafico{
    width: 55%;
    border-radius: 100%;
    background-color: rgb(128, 43, 226);
    z-index: 1;
    display: flex;
}

#centroDelGrafico{
    width: 75%;
    height: 75%;
    border-radius: 100%;
    background-color: whitesmoke;
    z-index: 0;
    margin: auto;
    display: flex;
    box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.616);
}

#iconosDerecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 25%;
}

#centroDelGrafico span{
    font-size: .6rem;
    margin: auto;
}

.balancePositivo{
    color: rgb(16, 185, 16);
    font-weight: bold;
}

.balanceNegativo{
    color: rgb(231, 11, 11);
    font-weight: bold;
}

#inputBalanceDisponible{
    margin-top: 40px;
    width: 100%;
    height: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-weight: bold;

}

#inputBalanceDisponible input{
    width: 90%;
    margin: 10px auto auto;
    height: 15%;
    border-radius: 5px;
    border: 1px inset;
    background-color: rgb(158, 76, 235);
}

#botonesDeBalance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}

.iconoDeBalance {
    height: 5.4vw;
    cursor: pointer;
}

@media (min-width: 720px) {

    header {
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #somos-monedita .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somos-monedita .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #somos-monedita h2 {
        font-size: 4em;
    }

    #somos-monedita .img-container {
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestros-cursos .programas {
        display: flex;
        justify-content: center;
    }

    #nuestros-cursos p {
        display: block;
        margin-bottom: 30px;
        text-align: left;
    }

    #nuestros-cursos h3 {
        margin-top: 0;
        justify-content: center;
    }

    #nuestros-cursos .carta {
        padding: 50px;
        background-size: 50% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(255, 255, 255, 0.938);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin: 15px;
    }



    #caracteristicas {
        background-image: url("");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container {
        text-align: initial;
    }

    #caracteristicas ul {
        margin-left: 50px;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (min-width: 1100px) {

    #caracteristicas { 
        background-position-x: calc(100vw - 800px);
    }

}